article header {
  & h1 {
    font-size: 8em;
    line-height: 1;
    font-weight: 700;
    letter-spacing: -.05em;
    margin-bottom: 1rem;
    margin-left: -.07em;

    & b {
      font-weight: 300;
      position: relative;
      top: .05em;
      opacity: .5;
      user-select: none;
    }

    @media (--tablet) {
      font-size: 4em;
    }

    @media (--mobile) {
      font-size: 3em;
      margin-bottom: .5rem;
    }

    @media (--mobile-xs) {
      font-size: 2em;
      line-height: 2;
    }
  }

  & p[data-prop=location] {
    display: inline-block;
    white-space: nowrap;

    & + time {
      display: inline-block;
    }

    &::after {
      content: " /";
      margin-left: .25em;
      margin-right: .25em;
      opacity: .5;
    }
  }
}

article figure {
  position: relative;
  margin: 5rem 0;
  transition: opacity .5s ease-in-out .25s;

  &:not(:first-of-type) {
    opacity: 0;
  }

  &[data-visible=true] {
    opacity: 1;
  }

  &::before {
    content: "🤍";
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    cursor: pointer;
    z-index: 99;
    text-shadow: rgba(0, 0, 0, .8) 0 0 12px;
    font-size: 1.2em;
    opacity: 0;
    transition: transform ease-in-out .25s, opacity ease-in-out .25s;
    transform: scale(.8);
  }

  [data-stat-enabled=true] &[data-loaded=true]::before {
    display: block;
  }

  &:hover::before {
    opacity: .5;
    transform: scale(1);

    @media (--mobile) {
      opacity: .3;
    }
  }

  &[data-liked=true]::before {
    opacity: 1;
    transform: scale(1);
  }

  & picture {
    position: relative;
    padding-top: calc(100% / var(--ratio));
    overflow: hidden;

    &[data-loaded=true] img {
      opacity: 1;
    }

    &::after {
      content: "";
      width: 12px;
      height: 12px;
      border-radius: 50%;
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      margin: -6px 0 0 -6px;
      background: var(--text-color);
      animation: loader 1s ease-in-out infinite alternate;
      z-index: -1;
    }

    &[data-loaded=true]::after {
      display: none;
    }
  }

  & img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    opacity: 0;
    transition: opacity .15s ease-in-out;
    color: rgba(255, 255, 255, .2);
    font-size: .75em;
  }

  & figcaption {
    text-align: center;
    opacity: .75;
    font-size: .75em;
    line-height: 2;
  }

  & figcaption a {
    position: relative;

    &:hover {
      color: white;
    }

    &:focus {
      outline: none;

      &::before {
        content: "";
        display: block;
        position: absolute;
        right: 100%;
        top: 25%;
        width: .6em;
        height: .6em;
        margin-right: .5em;
        border-radius: 100%;
        background: var(--text-color);
      }
    }
  }
}

@keyframes loader {
  0% {
    opacity: .1;
    transform: scale(1);
  }
  100% {
    opacity: .8;
    transform: scale(1.5);
  }
}
