article header {
  padding-left: var(--page-margin);
  padding-right: var(--page-margin);
  text-align: center;

  & h1 {
    font-size: 6em;
    line-height: 1;
    font-weight: 800;
    position: relative;
    margin-bottom: 2rem;

    @media (--tablet) {
      font-size: 4em;
      margin-bottom: 1rem;
    }

    @media (--mobile) {
      font-size: 3em;
    }

    @media (--mobile-xs) {
      font-size: 2em;
      line-height: 2;
    }

    &::before {
      content: attr(data-icon);
      position: absolute;
      font-size: .6em;
      opacity: .5;
      transform: translateX(-80%) rotate(var(--icon-angle));
    }
  }

  & p[data-prop=location] {
    font-size: 2em;
    line-height: .8;

    @media (--tablet) {
      font-size: 1.2em;
      line-height: 1;
    }
  }

  & p[data-prop=subtitle],
  & time {
    opacity: .75;
  }

  & time {
    font-size: .75em;
    letter-spacing: .15em;
  }
}

article figure {
  position: relative;
  margin: 5rem 0;
  transition: opacity .5s ease-in-out .25s;

  &:not(:first-of-type) {
    opacity: 0;
  }

  &[data-visible=true] {
    opacity: 1;
  }

  & picture {
    position: relative;
    padding-top: calc(100% / var(--ratio));
    overflow: hidden;

    &[data-loaded=true] img {
      opacity: 1;
    }

    &::after {
      content: "";
      width: 12px;
      height: 12px;
      border-radius: 50%;
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      margin: -6px 0 0 -6px;
      background: var(--text-color);
      animation: loader 1s ease-in-out infinite alternate;
      z-index: -1;
    }

    &[data-loaded=true]::after {
      display: none;
    }

  }

  & img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    opacity: 0;
    transition: opacity .15s ease-in-out;
    color: rgba(255, 255, 255, .2);
    font-size: .75em;
  }

  & figcaption {
    text-align: center;
    opacity: .75;
    font-size: .75em;
    line-height: 2;

    & a:hover {
      color: white;
    }
  }
}

@keyframes loader {
  0% {
    opacity: .1;
    transform: scale(1);
  }
  100% {
    opacity: .8;
    transform: scale(1.5);
  }
}
