html {
  font-size: 100%;
  background: var(--bg-color);
  -webkit-overflow-scrolling: touch;
}

body {
  font-family: var(--font-family);
  color: var(--text-color);
  line-height: 1.5;
  padding: var(--page-margin) 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-variant-ligatures: common-ligatures contextual;
}

:focus {
  outline: thin dotted var(--text-color);
}

a {
  color: var(--text-color);
  text-decoration: none;
  transition: color .25s ease-in-out;
  border-radius: 3px;
}

[data-columned] {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--page-margin);
  padding-right: var(--page-margin);

  @media (--tablet) {
    width: 66.666%;
  }

  @media (--mobile) {
    width: 100%;
    padding-right: var(--page-margin);
    padding-left: var(--page-margin);
  }
}

header[role=banner] {
  margin-bottom: 1rem;

  & a, & h1 {
    opacity: .55;
    font-size: .75em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .25em;
    position: relative;
    padding-left: 1em;

    @media (--mobile) {
      font-size: .65em;
    }
  }

  & a {
    display: block;

    &:hover {
      color: white;
      transition: none;
      opacity: 1;
    }

    &::before {
      content: "←";
      position: absolute;
      left: -.4em;
      font-weight: 400;
      opacity: .8;
    }
  }

  & h1 {
    cursor: default;

    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      margin-top: -.26rem;
      left: -.1em;
      width: .5rem;
      height: .5rem;
      border-radius: 100%;
      opacity: 0;
      transform: scale(.8);
      transition: opacity .25s ease-in-out .25s, transform .25s ease-in-out .25s;
      background-image: linear-gradient(45deg, var(--dot-gradient-colors));
      background-color: var(--text-color);
      background-size: 200% 200%;
      animation: dot-gradient 5s ease-in-out infinite;
      filter: saturate(1.2);
    }

    [data-loaded="true"] &::before {
      opacity: .9;
      transform: scale(1);
    }
  }

  & p {
    font-size: 2em;
    font-weight: 700;
    line-height: 1.25;
    margin: 1rem 0;
  }
}

footer[role=contentinfo] {
  margin-top: 2rem;
  margin-bottom: 4rem;

  & a {
    position: relative;
    opacity: .5;
    padding: .5rem;

    &:hover {
      opacity: .8;
    }

    &::before {
      content: "↪︎";
      position: absolute;
      right: 100%;
      transform: rotate(-45deg);
      margin-right: -.2rem;
    }
  }
}

:root {
  --dot-gradient-colors: white, gray, dimgray, black;
}

@keyframes dot-gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
