html {
  font-size: 100%;
  background: var(--bg-color);
  -webkit-overflow-scrolling: touch;
}

body {
  font-family: var(--font-family);
  color: var(--text-color);
  line-height: 1.5;
  margin: var(--page-margin);
  -webkit-font-smoothing: antialiased;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

header[role=banner] {
  opacity: .5;
  text-transform: uppercase;
  font-size: .75em;
  letter-spacing: .25em;
  margin-bottom: .5rem;

  & a {
    display: inline-block;
    padding: 5px 8px;
    margin: -5px 0 0 -8px;
    border-radius: 3px;

    &:hover {
      background: rgba(255,255,255,.2);
    }
  }
}
