html {
  font-size: 100%;
  background: var(--bg-color);
  -webkit-overflow-scrolling: touch;
}

body {
  font-family: var(--font-family);
  color: var(--text-color);
  line-height: 1.5;
  padding: var(--page-margin) 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-variant-ligatures: common-ligatures contextual;
}

a {
  color: var(--text-color);
  text-decoration: none;
  transition: color .25s ease-in-out;
}

[data-columned] {
  width: 50%;
  margin-left: auto;
  margin-right: auto;

  @media (--tablet) {
    width: 66.666%;
  }

  @media (--mobile) {
    width: 100%;
    padding-right: var(--page-margin);
    padding-left: var(--page-margin);
  }
}

header[role=banner] {
  margin-bottom: 1.5rem;

  & a, & h1 {
    opacity: .6;
    display: inline-block;
    font-size: .75em;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: .25em;
    position: relative;

    @media (--mobile) {
      font-size: .65em;
    }
  }

  & a {
    border-radius: 3px;
    padding: 2px 5px;
    margin-left: -5px;
    transition: none;

    &:hover {
      background: var(--text-color);
      color: var(--bg-color);
    }

    &::before {
      content: "←";
      position: absolute;
      right: 100%;
      color: var(--text-color);
      font-weight: 600;
      opacity: .8;
    }

    &:hover::before {
      opacity: 1;
    }
  }

  & h1 {
    &::before {
      content: "";
      display: block;
      position: absolute;
      width: .6em;
      height: .6em;
      left: -.8em;
      top: .35rem;
      border-radius: 100%;
      opacity: 0;
      transform: scale(.8);
      transition: opacity .25s ease-in-out .25s, transform .25s ease-in-out .25s;
      background: var(--text-color);
    }

    [data-loaded="true"] &::before {
      opacity: .35;
      transform: scale(1);
    }
  }

  & p {
    font-size: 1.5em;
    font-weight: 600;
    line-height: 1.5;
    margin: 1rem 0;
  }
}

footer[role=contentinfo] {
  margin-top: 2rem;
  margin-bottom: 4rem;

  & a {
    position: relative;
    opacity: .5;
    padding: .5rem;

    &:hover {
      opacity: .8;
    }

    &::before {
      content: "↪︎";
      position: absolute;
      right: 100%;
      transform: rotate(-45deg);
      margin-right: -.2rem;
    }
  }
}
