header {
  margin-bottom: 4rem;

  & h1 {
    font-size: 96px;
    font-weight: 800;
  }

  & p {
    font-size: 18px;
    font-weight: 300;
    opacity: .5;
  }
}

article {
  color: var(--text-color);
}

figure {
  position: relative;
  margin-bottom: 3rem;
  transition: opacity .5s ease-in-out .25s;

  &:not(:first-of-type) {
    opacity: 0;
  }

  &[data-visible=true] {
    opacity: 1;
  }

  &::before {
    content: attr(data-index);
    display: block;
    text-align: right;
    position: absolute;
    top: 0;
    right: 100%;
    margin-right: .25rem;
    opacity: .5;
    font-size: .75em;
    font-weight: 300;
  }
}

picture {
  position: relative;
  padding-top: calc(100% / var(--ratio));

  & img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    opacity: 0;
    transition: opacity .15s ease-in-out;
    color: rgba(255, 255, 255, .2);
    font-size: .75em;
  }

  &[data-loaded=true] img {
    opacity: 1;
  }

  &::after {
    content: "";
    width: 12px;
    height: 12px;
    border-radius: 50%;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -6px 0 0 -6px;
    background: white;
    animation: loader 1s ease-in-out infinite alternate;
    z-index: -1;
  }

  &[data-loaded=true]::after {
    display: none;
  }
}

@keyframes loader {
  0% {
    opacity: .1;
    transform: scale(1);
  }
  100% {
    opacity: .8;
    transform: scale(1.5);
  }
}
