:root {
  --highlight-pic-size: 160px;
}

[data-item] {
  width: 300px;
  position: relative;
  display: inline-block;
  vertical-align: top;
  opacity: 0;
  transition: opacity .5s ease-in-out var(--delay, 0s);
  padding: 2rem;

  [data-loaded=true] & {
    opacity: 1;
  }

  & h2 {
    font-size: 1.5em;
  }

  & a {
    &::after {
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }

    &:hover {
      color: white;
    }
  }
}
