:root {
  --preview-size: 300px;
  --preview-padding: 2rem;
}

[data-items-container] {
  text-align: center;
}

[data-item] {
  width: calc(var(--preview-size) + var(--preview-padding) * 2);
  padding: var(--preview-padding);
  position: relative;
  display: inline-block;
  vertical-align: top;
  opacity: 0;
  transition: opacity .5s ease-in-out var(--delay, 0s);
  text-align: left;
  color: var(--text-color);

  [data-loaded=true] & {
    opacity: 1;
  }

  & h2 {
    font-size: 1em;
    font-weight: 600;
    margin-top: 1rem;
  }

  & time {
    opacity: .5;
    font-size: .75em;
    letter-spacing: .15em;
  }

  & a {
    &:hover {
      color: white;
    }

    &::after {
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 99;
    }
  }
}
