:root {
  --map-height: calc(100vh - 4rem);
  --map-padding: 2rem;
  --map-bg-color: #29292A;
  --popup-color: inherit;

  @media (--tablet) {
    --map-padding: 1rem;
  }
}

[data-map-box-wrapper] {
  position: relative;
  padding: var(--map-padding);
  margin-top: calc(-1 * var(--map-padding));

  @media (--tablet) {
    margin-bottom: calc(2 * var(--map-padding));
  }

  & dt {
    position: absolute;
    left: 0;
    right: 0;
  }
}

a[data-map-toggle] {
  position: relative;
  border-bottom: 1px dotted rgba(255, 255, 255, .5);

  @media (--mobile) {
    margin-left: .5em;
  }

  &:hover {
    opacity: .75;
  }

  &::before {
    content: "📍";
    position: absolute;
    right: 100%;
    transition: transform .15s ease-in-out;
    filter: saturate(.75);
  }

  &:hover::before {
    transform: rotate(-45deg);
    filter: saturate(1.2);
  }
}

[data-map-box] {
  height: var(--map-height);
  background: var(--map-bg-color);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, .6) 0 2rem 40px -10px;
  position: relative;
  overflow: hidden;

  &:not([hidden]) + dt {
    width: calc(var(--map-padding) * 2);
    height: calc(var(--map-padding) * 2);
    top: 0;
    left: 0;
    right: auto;

    @media (--tablet) {
      width: calc(var(--map-padding) * 3);
      height: calc(var(--map-padding) * 3);
    }

    &::first-letter {
      opacity: .9;
      font-weight: normal;
    }

    &::after {
      content: "×";
      display: block;
      position: absolute;
      z-index: 0;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      background: white;
      color: var(--map-bg-color);
      text-align: center;
      width: var(--map-padding);
      height: var(--map-padding);
      border-radius: 50%;
      font-size: 2em;
      line-height: 1;
      box-shadow: rgba(0, 0, 0, .75) 0 3px 10px;

      @media (--tablet) {
        width: calc(var(--map-padding) * 2);
        height: calc(var(--map-padding) * 2);
      }
    }

    & a {
      position: absolute;
      z-index: 1;
      opacity: 0;
      display: block;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      margin: 0;
    }
  }
}

.mapboxgl-popup {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  pointer-events: none;
  opacity: 0;
  transition: opacity .25s ease-in-out;

  & a {
    display: block;
    padding: 12px;
    font-weight: 600;
    text-shadow: black 0 1px 10px, rgba(0, 0, 0, .9) 0 3px 15px, rgba(0, 0, 0, .8) 0 5px 20px;

    &:after {
      content: '';
      display: block;
      height: 2px;
      margin-top: -2px;
      background: var(--popup-color);
      opacity: .75;
      filter: brightness(1.33) saturate(1.1);
    }
  }
}

.mapboxgl-popup-anchor-top,
.mapboxgl-popup-anchor-top-left,
.mapboxgl-popup-anchor-top-right {
  flex-direction: column
}

.mapboxgl-popup-anchor-bottom,
.mapboxgl-popup-anchor-bottom-left,
.mapboxgl-popup-anchor-bottom-right {
  flex-direction: column-reverse
}

.mapboxgl-popup-anchor-left {
  flex-direction: row
}

.mapboxgl-popup-anchor-right {
  flex-direction: row-reverse
}

.mapboxgl-popup-tip {
  display: none;
}
