{% extends "base.html" %}

{% set text_color = article.color or 'white' %}

{% block content %}
  <article>
    <header style="--icon-angle: {{ random(-60, 60) }}deg">
      {% if article.location %}<p data-prop="location">{{ article.location }}</p>{% endif %}
      <h1 data-icon="{{ article.icon }}">{{ article.title }}</h1>
      {% if article.subtitle %}<p data-prop="subtitle">{{ article.subtitle }}</p>{% endif %}
      <time datetime="{{ article.date|strftime('%Y-%m-%d') }}">{{ article.date|strftime('%Y') }}</time>
    </header>
    <div data-grid>{{ article.content }}</div>
  </article>
{% endblock content %}

{% block scripts %}
  <script defer>{% include "lazyload.js" %}</script>
{% endblock %}
