{% extends "base.html" %}

{% block meta_title %}{{ article.meta_title or article.title }}{% endblock %}

{% set text_color = article.color or 'white' %}

{% block content %}
  <article>
    <header>
      <h1>{{ article.title }}</h1>
      {% if article.subtitle %}<p>{{ article.subtitle }}</p>{% endif %}
    </header>
    <div class="grid">
      {{ article.content }}
    </div>
  </article>
{% endblock content %}

{% block scripts %}
  <script defer>{% include "lazyload.js" %}</script>
{% endblock %}
