{% extends "base.html" %}

{% block meta_title %}{{ article.meta_title or article.title }}{% endblock %}

{% block content %}
  <article>
    <header>
      <h1>{{ article.title }}</h1>
      {% if article.subtitle %}<p>{{ article.subtitle }}</p>{% endif %}
    </header>
    {{ article.content }}
  </article>
{% endblock content %}

{% block scripts %}
  <script>
    window.addEventListener('load', () => {
      document.querySelectorAll('picture img').forEach(img => {
        img.parentElement.dataset.loaded = img.complete ? 'true' : 'false';
        img.onload = () => img.parentElement.dataset.loaded = 'true';
      });
    });
  </script>
{% endblock %}
