<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block meta_title %}{{ SITENAME }}{% endblock %}</title>
  <link rel="preload" href="{{ static('style.css') }}" as="style">
  <link rel="preconnect" href="https://img.arsgab.io/" crossorigin>
  <link rel="preconnect" href="https://stat.arsgab.io/" crossorigin>
  <link rel="dns-prefetch" href="https://img.arsgab.io/">
  <link rel="dns-prefetch" href="https://stat.arsgab.io/">
  <link rel="icon" href="{{ static('favicon.ico') }}" sizes="any">
  <link rel="apple-touch-icon" href="{{ static('apple-touch-icon.png') }}">
  <link rel="manifest" href="{{ static('manifest.webmanifest') }}">
  <link rel="stylesheet" href="{{ static('style.css') }}">
  {% block styles %}{% endblock %}
</head>
<body>
{% block header %}{% endblock %}
<main>
  {% block content %}{% endblock %}
</main>
{% block scripts %}{% endblock %}
{% block stats %}
{% if STATS_WEBSITE_ID %}
  <script async defer src="{{ STATS_SCRIPTS_URL }}" data-website-id="{{ STATS_WEBSITE_ID }}"
          data-do-not-track="true"></script>
{% endif %}
{% endblock stats %}
</body>
</html>
