<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block meta_title %}{{ SITENAME }}{% endblock %}</title>
  <meta name="description" content="{% block meta_description %}{{ SITEDESC }}{% endblock %}">
  <link rel="preload" href="{{ static('style.css') }}" as="style">
  <link rel="dns-prefetch" href="https://fonts.gstatic.com">
  <link rel="dns-prefetch" href="https://img.arsgab.io">
  <link rel="dns-prefetch" href="https://stat.arsgab.io">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="preconnect" href="https://img.arsgab.io" crossorigin>
  <link rel="icon" href="{{ static('favicon.ico') }}" sizes="any">
  <link rel="apple-touch-icon" href="{{ static('apple-touch-icon.png') }}">
  <link rel="manifest" href="{{ static('manifest.webmanifest') }}">
  <link rel="stylesheet" href="{{ static('style.css') }}">
  <script>window.addEventListener('load', _ => document.documentElement.dataset.loaded = 'true')</script>
  {% block styles %}{% endblock %}
  {% block scripts %}{% endblock %}

  {% block stats %}
  {% if STATS_WEBSITE_ID %}
  <script async defer src="{{ STATS_SCRIPTS_URL }}" data-website-id="{{ STATS_WEBSITE_ID }}"
          data-do-not-track="true"></script>
  {% endif %}
  {% endblock stats %}

</head>
<body style="--text-color: {{ text_color or 'white' }};">

{% block site_header %}
  <header role="banner">
  {% if page_name == 'index' %}
    <h1>{{ SITENAME }}</h1>
  {% else %}
    <a href="/">{{ SITENAME }}</a>
  {% endif %}
  </header>
{% endblock site_header %}

{% block main %}
  <main>
    {% block content %}{% endblock %}
  </main>
{% endblock main %}

</body>
</html>
