{% extends "base.html" %}

{% block page_subheader %}
  <p>Photos by Arseny Gabdullin.<br>Shot on iPhone.</p>
{% endblock %}

{% block content %}
  <dl data-map-box-wrapper>
    <dd id="map" data-map-box data-map-token="{{ MAPBOX_API_TOKEN }}" data-map-zoom="4.5"
        data-map-points-src="{{ api('points.json') }}" data-map-loc-src="{{ api('locations.json') }}" hidden></dd>
    <dt data-columned data-close-text="× Hide map">
      <a href="#map" data-map-toggle>Show photographed locations on map</a>
    </dt>
  </dl>
  <ul data-list-type="tiles">
  {% for article in articles %}<li data-list-item="{{ article.slug }}" style="--delay: {{ 100 * loop.index0 }}ms">
  {% set loading = 'lazy' if loop.index > 1 else 'eager' %}
  {% set cover = picture(
    article.cover,
    width=300, ratio=1.0, loading=loading,
    gravity='so', rt='fill-down'
  ) if article.cover else '' %}
  {% set color = article.color or 'white' %}
    <article style="--text-color: {{ color }}; --spot-angle: {{ random(-90, 90) }}deg">
      {{ cover }}
      <h2><a href="{{ article.url }}"><b>{{ article.title }}</b></a></h2>
      <time datetime="{{ article.date|strftime('%Y-%m-%d') }}">{{ article.date|strftime('%Y') }}</time>
    </article>
  </li>{% endfor %}
  </ul>
{% endblock %}

{% block footer %}
  <footer role="contentinfo" data-columned>
    <a href="https://github.com/arsgab/photos.arsgab.io" target="_blank" rel="noopener">Source code</a>
  </footer>
{% endblock %}
